@page "/aboutus"
<PageTitle>About Us</PageTitle>
<br>
<br>
<br>
<div class="expl">
    -The Zoo-<br>This is important information This is important information This is important information
    This is important information This is important information This is important information This is important information
    This is important information This is important information This is important information This is important information
    This is important information This is important information This is important information This is important information
    This is important information This is important information This is important information This is important information
    This is important information This is important information This is important information This is important information
    This is important information This is important information This is important information This is important information
    This is important information This is important information
</div>

<div class="expl" style="position: absolute;
  right: 0px;">
    -The Zoo-<br>This is important information This is important information This is important information
    This is important information This is important information
</div>
