@page "/login"
@using RZA_Website.Models
@using RZA_Website.Utilities
@using RZA_Website.Services
@inject CustomerService CustomerService
@inject NavigationManager NavigationManager
@inject UserSession UserSession
@rendermode InteractiveServer
<h3>Login</h3>

<EditForm Model="newCustomer" OnValidSubmit="HandleValidSubmit" FromName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="newCustomer.Username" />
    </div>

    <div>
        <label>Password:</label>
        <InputText @bind-Value="password" type="password" />
    </div>

    <button type="submit">Register</button>
</EditForm>

@code {
    private Customer newCustomer = new Customer();
    private string password;

    private async Task HandleValidSubmit()
    {
        newCustomer.Password = password;
        newCustomer = await CustomerService.LogIn(newCustomer);
        if (newCustomer == null)
        {
            Console.WriteLine("Could not Login");
        }
        else
        {
            UserSession.UserID = newCustomer.CustomerId;
            NavigationManager.NavigateTo("/account");
        }
    }
}
