@using RZA_Website.Services
@using RZA_Website.Utilities
@inject UserSession UserSession
@rendermode InteractiveServer

@page "/modify"
<link rel="stylesheet" href="css/style.css" />
<h3>ModifyAccount</h3>
<div class="login">
    <div>
        <label>Old password</label>
        <br>
        <input @bind-value=@oldPassword />
    </div>
    <div>
        <label>New password</label>
        <br>
        <input @bind-value=@newPassword />
    </div>
    <div>
        <label>Confirm new password:</label>
        <br>
        <input @bind-value=@newPasswordConfirm />
    </div>
    <div>
        <label style="color:red">@message</label>
    </div>

    <button onclick=@ChangePassword>Change Password</button>
</div>
@code {
    private string newPassword;
    private string oldPassword;
    private string message;
    private string newPasswordConfirm;
    private async Task ChangePassword()
    {
        if (newPassword == null || oldPassword == null || newPasswordConfirm == null)
        { 
            message = "Fill out all inputs";
        }
        if (newPassword == newPasswordConfirm)
        {

            Console.WriteLine("Change password");
        }
    }
}
